*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --main-color: rgb(107 48 48);
  --white-color: white;
  --bg-color: rgb(247, 232, 214);
}

*::selection {
  color: var(--white-color);
  background-color: var(--main-color);
}

.my-nav {
  background-color: rgba(247, 232, 214, 0);
}

body {
  background-color: var(--bg-color);
}

main {
  margin-top: 0px;
  padding-top: 10px;
}

.bg-color {
  background-color: var(--bg-color);
}

.navbar-toggler {
  padding: 0rem 0.25rem;
}

.navbar ul li a {
  color: var(--white-color);
}

.navbar {
  --bs-navbar-brand-color: var(--white-color);
  width: 100%;
  background-color: var(--main-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nav-underline .nav-link {
  padding-right: 0;
  padding-left: 0;
  border-bottom: 4px solid transparent;
}
.brdr-bottom {
  border: 3px solid var(--white-color);
}

.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
  background-color: var(--bg-color);
}

.card {
  --bs-card-border-color: var(--main-color);
  border: 3px solid var(--main-color);
  border-radius: 5px;
}

.contact .title h3 {
  font-size: 40px;
  display: inline-block;
  position: relative;
}

.main-color {
  color: var(--main-color);
}

.contact .ico-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--white-color);
  transition: all 0.5s ease;
}

.contact-item:hover {
  .ico-circle {
    background-color: var(--main-color);
  }
  .ico-circle i {
    color: #ffffff;
  }
}

.form-btn {
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(52, 52, 52);
  font-family: poppins;
  background-color: #f4f4f4;
  border: 1px solid transparent;
  transition: border-color 0.3s;
}

.form-btn:focus {
  outline: none;
  border-color: transparent;
}

.btn-primary {
  --bs-btn-color: var(--white-color);
  --bs-btn-bg: var(--main-color);
  --bs-btn-border-color: var(--main-color);
  --bs-btn-hover-color: var(--main-color);
  --bs-btn-hover-bg: #0b5ed700;
  --bs-btn-hover-border-color: var(--main-color);
  border-width: 4px;
}

footer {
  background-color: var(--secondary-color);
  padding: 1.875rem;
}
.bg-brown {
  background-color: var(--main-color);
}
